/*https://codepen.io/enxaneta/full/adLPwv*/

.contenedor {
    background-color: yellow;
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
    min-height: 5rem;
    /*Eje principal*/
    justify-content: space-evenly;
    /* flex-direction: column;  */
    
    /* align-items: center; */
   
    /*Eje secundario*/
    align-items: center;
    flex-wrap: wrap;
}

.item {
    background-color: pink;
    padding: 0.25rem;
    width: 10rem;;
}

.item-2 {
    align-self: stretch;
}